[user]
	name = dubs3c
	email = dubs3c@users.noreply.github.com

[color]
	ui = auto
	
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
